---
#required variables:
#domain_joined
#host_name
#
#optional variables:
#join_user
#computer_ou
#join_password

- name: change hostname
  hostname: 
    name: "{{host_name}}"

- name: add admin user
  user:
    name: administrator
    groups: wheel
    append: yes

- name: add ssh key for admin user
  authorized_key:
    user: administrator
    state: present
    key: "{{item}}"
  with_items:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0gaDkB9pbqRP6M9+K8sl6V9f1jkcZJAdogn1qS59bV372FNLtVKJB9FBZyUttjfhrruiV+ZZok2i2u07br9L5S6ARKPxzIitzrtQuvsbGtDwJtOrXsgMn4hQe+7x9JCGlOQ+xbmniC2MiCUbUTlBCDNA+TAaH9XnoRMyWUyVUJbU+u9zlcT+8OC6wvEk0GxjukcNuwiANuvfjjiow9e3qA1wUQukLGjSWDufWLp9hJMKkVHQ1m9I/Yw84LejBKq4YizhfjMah9yoq7KrnzURkO6i2T6aSYT/1APWm+jw9iOH9VP+xbVD9RAMFvb49yU11rLVgS3e/+tdosZIRtFYJ pbove-pub
  
- name: install epel-release
  yum:
    name: epel-release
    state: present
    update_cache: yes

- name: install base packages
  yum:
    name: "{{item}}"
    state: present
    update_cache: yes
  with_items:
    - httpd
    - ipa-client
    - python2
    - python2-pip
    - python34
    - python34-pip
    - chrony
  when: ansible_distribution == "CentOS"
  notify: ensure_ntpd

- name: install python packages
  pip:
    name: "{{item}}"
    state: present
    executable: pip3
  with_items:
    - sh
    - pexpect

- name: install python2 pexpect
  pip:
    name: pexpect
    state: present
    executable: pip2

- name: copy hosts file
  template:
    src: hosts
    dest: /etc/hosts

- name: join domain
  command: >
    ipa-client-install --domain="{{domain}}" --realm="{{domain|upper}}" -p "{{domain_user}}" --password="{{domain_password}}"
    --enable-dns-updates -U
  args:
    creates: /etc/sssd/sssd.conf
  when: domain_joined == "y"

- name: copy sudoers files for domain groups/users
  copy: 
    src: "{{item}}"
    dest: /etc/sudoers.d/
    mode: 0440
  with_items:
    - unix-wheel
  when: domain_joined == "y"

- name: copy ifcfg-eth0 config
  template:
    src: ifcfg-eth0
    dest: /etc/sysconfig/network-scripts/ifcfg-eth0

- name: copy sshd config
  copy:
    src: sshd_config
    dest: /etc/ssh/sshd_config
  notify: ensure_sshd

- include: netdata.yml

- name: configure firewall
  firewalld:
    port: "{{item}}"
    permanent: true
    state: enabled
  notify: ensure_firewalld
  with_items:
    - 22/tcp
    - 19999/tcp