---
#requires:
#dns_servers
#host_name
#domain


- name: computer name if  domain unspecificied
  script: win_hostname.ps1 -hostname "{{host_name}}"
  register: win_rename
  when: domain_joined != "y"

- name: check ntp config
  command: w32tm /query /source
  register: time_servers
  when: domain_joined != "y"

- name: setup ntp
  command: >
    w32tm  /config /syncfromflags:manual /manualpeerlist:
    "0.us.pool.ntp.org,1.us.pool.ntp.org,2.us.pool.ntp.org,3.us.pool.ntp.org"
  when: ("0.us.pool.ntp.org" not in time_servers.strip()) or
        ("1.us.pool.ntp.org" not in time_servers.strip()) or
        ("2.us.pool.ntp.org" not in time_servers.strip()) or
        ("3.us.pool.ntp.org" not in time_servers.strip()) and
        (domain_joined != "y")

- name: ensure ntp service
  win_service:
    name: W32Time
    state: restarted
    start_mode: auto

- name: restart if changed
  win_reboot:
  when: domain_joined != "y" and win_rename.stdout.strip() == "changed"

- name: setup dns records
  win_dns_client:
    adapter_names: "*"
    ipv4_addresses: "{{item}}"
  with_items: "{{dns_servers}}"

- name: install chocolatey
  win_chocolatey:
    name: chocolatey
    state: latest

- name: remove windows smb1
  win_feature:
    name: FS-SMB1
    state: absent

- name: join domain
  win_domain_membership:
    dns_domain_name: "{{domain}}"
    hostname: "{{host_name}}"
    state: present
  register: domain_join
  when: domain_joined == "y"

- name: remove config user
  name: config
  state: absent

- name: restart if required
  win_reboot:
  when: domain_joined == "y" and domain_join.restart_required == True